aside.b-worldPress
    .container
        .row
            .b-worldPress_flex
                h2.b-worldPress__header.b-worldPress__header_position Waxom 
                    span.b-worldPress__header_span Multipurpose WordPress Theme
                    p.b-worldPress__header_p.b-worldPress__header_p_position  Don't Forget to Rate the Template. Thanks so much!
                button.b-worldPress__button Purchase Now