.b-service {
    display: flex;
    &__unit {
        display: flex;
        flex-direction: column;
    }
    &__img {
        align-self: center;
    }
    &__description {
        text-align: center;
        &_position {
            margin-top: 29px;
        }
    }
    &__descriptionHead {
        font-family: Raleway;
        font-size: 22px;
        font-weight: 600;
        color: #555555;
    }
    &__descriptionText {
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 300;
        line-height: 1.71;
        color: #8c8c8c;
        &_position {
            margin-top: 19px;
        }
    }
}

.b-service_position {
    margin-top: 80px;
    margin-bottom: 113px;
}